<header-container>
    <header-menu-logout></header-menu-logout>
    <header-menu-alarms></header-menu-alarms>
</header-container>


<content-container id="top">
    <card-content ng-repeat="card in cards|orderBy:'-created_at'"
                ui-sref="chat({cardId: card.id})">
        <card-chat-group ng-show="card.link.users.length > 2">
        </card-chat-group>

        <card-chat-solo ng-show="card.link.users.length <= 2">
        </card-chat-solo>
    </card-content>

    <!-- Example Data -->
    <a href="" ui-sref="chat" class="card">
        <div class="card-content">
            <div class="card-content-header">
                <div class="card-content-user-photo">
                    <img src="assets/images/avatar.png" class="card-content-user-photo-img">
                </div>
                <div class="card-content-user-name">
                이강훈
                </div>
                <div class="card-content-date">
                12 시간 전
                </div>
                <div class="card-content-bedge-text">
                2
                </div>
            </div>
            <div class="card-content-body">
                <div class="card-content-msg">
                어도비와 구글은 오늘 65,535자를.…<br>
                </div>
            </div>
        </div>
    </a>
    <div class="card">
        <div class="card-content">
            <div class="card-content-header">
                <div class="card-content-user-photo">
                    <img src="assets/images/avatar.png" class="card-content-user-photo-img">
                </div>
                <div class="card-content-user-name">
                이강훈
                </div>
                <div class="card-content-date">
                12 시간 전
                </div>
                <div class="card-content-bedge-text">
                2
                </div>
            </div>
            <div class="card-content-body">
                <div class="card-content-msg">
                어도비와 구글은 오늘 65,535자를 …<br>
                </div>
            </div>
            <div class="card-footer">
                <input type="button" value="확인" class="card-footer-btn">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-header-name">
            UX 디자이너 모임
            </div>
            <div class="card-header-bedge">
                <div class="card-header-bedge-text">
                2
                </div>
            </div>
        </div>
        <div class="card-content-header">
            <div class="card-content-user-photo">
                <img src="assets/images/avatar02.jpeg" class="card-content-user-photo-img">
            </div>
            <div class="card-content-user-name">
            홍길동
            </div>
            <div class="card-content-date">
            10 시간 전
            </div>
        </div>
        <div class="card-content-body">
            <div class="card-content-msg">
            다음주부터 월요일 티타임을 부활하도록...<br>
            </div>
        </div>
        <div class="card-content-line">
        </div>
        <div class="card-content">
            <div class="card-content-header">
                <div class="card-content-user-photo">
                    <img src="assets/images/avatar.png" class="img card-content-user-photo-img">
                </div>
                <div class="card-content-user-name">
                이강훈
                </div>
                <div class="card-content-user-date">
                12 시간 전
                </div>
            </div>
            <div class="card-content-body">
                <div class="card-content-msg">
                어도비와 구글은 오늘 65,535자를 ….<br>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-header-name">
            UX 디자이너 모임
            </div>
            <div class="card-header-bedge">
                <div class="card-header-bedge-text">
                2
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="card-content-header">
                <div class="card-content-user-photo">
                    <img src="assets/images/avatar02.jpeg" class="card-content-user-photo-img">
                </div>
                <div class="card-content-user-name">
                홍길동
                </div>
                <div class="card-content-user-date">
                10 시간 전
                </div>
            </div>
            <div class="card-content-body">
                <div class="card-content-msg">
                점심 뭐먹을까요?
                </div>
            </div>
            <div class="card-options">
                <div class="card-options-radio-group">
                    <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox" />
                    <label for="radio1" class="css-label radGroup1">자장면 </label>
                    
                    <!-- <input type="radio" name="Default" class="card-options-radio-btn css-checkbox">
                    <label class="card-options-radio-text" class="css-label">
                    짜장면
                    </label> -->
                </div>
                <div class="card-options-radio-group">
                    <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox" />
                    <label for="radio2" class="css-label radGroup1">짬뽕</label>
                    <!-- <input type="radio" name="Default" class="card-options-radio-btn">
                    <div class="card-options-radio-text" >
                    짜장면
                    </div> -->
                </div>
                <div class="card-options-radio-group">
                    <input type="radio" name="radiog_lite" id="radio3" class="css-checkbox" />
                    <label for="radio3" class="css-label radGroup1">탕수육</label>
                    <!-- <input type="radio" name="Default" class="card-options-radio-btn">
                    <div class="card-options-radio-text">
                    짜장면
                    </div> -->
                </div>
            </div>
            <div class="card-footer">
                <input type="button" value="완료" class="card-footer-btn">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-header-name">
            UX 디자이너 모임
            </div>
            <div class="card-header-bedge">
                <div class="card-header-bedge-text">
                2
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="card-content-header">
                <div class="card-content-user-photo">
                    <img src="assets/images/avatar02.jpeg" class="card-content-user-photo-img">
                </div>
                <div class="card-content-user-name">
                홍길동
                </div>
                <div class="card-content-user-date">
                10 시간 전
                </div>
            </div>
            <div class="card-content-body">
                <div class="card-content-msg">
                점심 뭐먹을까요?
                </div>
            </div>
            <div class="card-options">
                <div class="card-options-bar">
                    <div class="card-options-bar-fill-a">
                        <div class="card-options-bar-text">
                        자장면
                        </div>
                    </div>
                    <div class="card-options-bar-bedge">
                    10
                    </div>
                </div>
                <div class="card-options-bar">
                    <div class="card-options-bar-fill-b">
                        <div class="card-options-bar-text">
                        자장면
                        </div>
                    </div>
                    <div class="card-options-bar-bedge">
                    2
                    </div>
                </div>
                <div class="card-options-bar">
                    <div class="card-options-bar-fill-c">
                        <div class="card-options-bar-text">
                        자장면
                        </div>
                    </div>
                    <div class="card-options-bar-bedge">
                    2
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="card-footer-check" >
                확인: 10
                </a>
                <div class="card-footer-comment">
                의견: 10 
                </div>
            </div>
        </div>
    </div>
    <!-- Example Data -->
</content-container>


<a href="" ng-click="scrollTo('top')">
    <img src="assets/images/arrow.png" class="footer-scrollUp-btn">
</a>
<a href="" ui-sref="create" class="main-create-link-btn">
    <img src="assets/images/link.png" class="main-create-link-img">
</a>