<form name="form" novalidate> 
    <input type="email" name="email" placeholder="Email.." class="landing-input" 
        required ln-focus="true"
        ng-model="user.email" >

    <input type="password" name="password" placeholder="Password.." class="landing-input" 
            required ng-minlength="3" 
            ng-model="user.password">

    <input type="submit" value="Submit" class="landing-btn-sign-complete" 
          ng-click="login(form)" 
          ng-show="form.$valid">

    <validate-error-email></validate-error-email>
    <validate-error-password></validate-error-email>
</form>